<p><%=flash[:success]%></p>
<h1>Submitted Information</h1>
<p>Name: <%=session[:name]%></p>
<p>Location: <%=session[:location]%></p>
<p>Language: <%=session[:language]%></p>
<p>Comments: <%=session[:comments]%></p>
<form action="/">
	<input type="submit" value="Go Back">
</form>